/* eslint-disable */
module.exports = {
  // API
  // API_URL  : "http://api.cloudhubpanellocal.com//api/v1",
  API_URL: "http://api.cloudhubpaneltest.com/api/v1", // 测试环境
  // API_URL : "https://apichpanelstaging.acy.com//api/v1",//staging环境
  // API_URL : "https://api.cloudhubpanel.com//api/v1"//线上环境
  // VIDEO
  // VIDEO_URL: "https://rsc.cloudhubpanel.com", // 线上环境
  VIDEO_URL: "http://resource.zerologixtest.com" // 测试环境
}
