module.exports = {
  // API_URL  : "http://api.cloudhubpanellocal.com//api/v1",
  API_URL: 'http://api.cloudhubpaneltest.com/api/v1' // 测试环境
  // API_URL : "https://apichpanelstaging.acy.com//api/v1",//staging环境
  // API_URL : "https://api.cloudhubpanel.com//api/v1"//线上环境
}