@import '../core/stylesheets/variables.scss';

.chp-toolbar {
  min-height: 64px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-flow: row wrap;
  position: relative;
  transition: $swift-ease-out;
  transform: translate3D(0, 0, 0);

  &.chp-dense {
    min-height: 48px;

    &.chp-medium {
      min-height: 72px;
    }

    &.chp-large {
      min-height: 96px;
    }

    .chp-toolbar-container {
      height: 48px;
    }
  }

  &.chp-medium {
    min-height: 88px;

    .chp-toolbar-container:nth-child(2) {
      .chp-title:first-child {
        margin-left: 56px;
      }
    }
  }

  &.chp-large {
    min-height: 128px;
    align-content: inherit;

    .chp-toolbar-container:nth-child(2) {
      .chp-title:first-child {
        margin-left: 56px;
      }
    }
  }

  &.chp-account-header {
    min-height: 164px;

    .chp-ink-ripple {
      color: #fff;
    }

    .chp-list-item-container {
      &:hover:not([disabled]) {
        background-color: rgba(#fff, .12);
      }
    }

    .chp-avatar-list {
      margin: 16px 0 8px;

      .chp-list-item-container {
        align-items: flex-start;
      }

      .chp-avatar + .chp-avatar {
        margin-left: 16px;
      }
    }
  }

  .chp-toolbar-container {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    align-self: flex-start;

    > .chp-button {
      &:first-child {
        margin-left: 0;
        margin-right: 16px;
      }

      + .chp-button {
        margin-left: 0;
      }
    }
  }

  > .chp-button {
    &:first-child {
      margin-left: 0;
      margin-right: 16px;
    }

    + .chp-button {
      margin-left: 0;
    }
  }

  .chp-button:hover {
    &:not([disabled]):not(.chp-raised):not(.chp-icon-button):not(.chp-fab) {
      background-color: rgba(#fff, .1);
    }
  }

  .chp-title {
    margin: 0;
    font-size: 20px;
    font-weight: 400;

    &:first-child {
      margin-left: 8px;
    }

    + .chp-input-container {
      margin-left: 24px;
    }
  }

  .chp-input-container {
    min-height: 32px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
  }

  .chp-list {
    padding: 0;
    margin: 0 -8px;
    flex: 1;
  }
}

@mixin toolbar-spec($main-color, $second-color, $third-color) {
  background-color: $main-color;
  color: $second-color;

  .chp-input-container {
    &.chp-input-focused {
      input,
      textarea {
        color: $second-color;
        text-shadow: 0 0 0 $second-color;
      }

      label,
      .chp-icon:not(.chp-icon-delete) {
        color: $second-color;
      }
    }

    &:after {
      background-color: $second-color;
    }

    input,
    textarea {
      color: $second-color;
      text-shadow: 0 0 0 $second-color;

      &::-webkit-input-placeholder {
        color: $third-color;
      }
    }

    label,
    .chp-icon:not(.chp-icon-delete) {
      color: $second-color;
    }
  }
}

.chp-toolbar {
  @include toolbar-spec(transparent, $blue-color, $blue-color)
}
