@import "./variable.less";
@import "./transition.less";
.word-wrap {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}
.flex-container{
  display: table-cell;
  vertical-align:middle;
  text-align: center;
  .display(flex);

  &.content-center{
    .align-content(center);
    .justify-content(center);
  }
}
.error{
  color:@red-error-color;
}
.padding-10{
  padding:10px;
}
.padding-20{
  padding:20px;
}
.data-table-filter-panel{
  width:100%;
  margin-top: 20px;
}


  /* 可以设置不同的进入和离开动画 */
  /* 设置持续时间和动画函数 */
  .slide-fade-enter-active {
    transition:  @swift-ease-in;
  }
  .slide-fade-leave-active {
    transition:  @swift-ease-out;
  }
  .slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active for <2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
  }
/*loading*/
.loading-overlay{
  background-color: @light-component-bg-color;
}
html.dark{
  .loading-overlay{
    background-color: @dark-component-bg-color;
  }
}

