@import "~lesshat/lesshat.less";
@import "./helper.less";

/*屏幕尺寸定义*/
@screen-xs-min:480px;
@screen-sm-min:768px;
@screen-md-min:992px;
@screen-lg-min:1200px;

/*字体定义*/
@html-font-size: 10px;


/*颜色定义*/
@blue-color: #0088CC;
@red-error-color: #a94442;

@dark-bg-color: #1D2127;
@dark-hover-color: #272c34;
@dark-component-bg-color: #1D2127; //组件的背景颜色
@dark-component-border-color:#282d36; // 组件的边框颜色

@dark-font-color : #808697;
@dark-font-bright-color: #fff;

@dark-font-dim-color: #465162;




@light-bg-color: #ecedf0;
@light-hover-color:  #ecedf0;
@light-font-color: #777;
@light-reverse-font-color: #ffffff;
@light-component-bg-color: #ffffff;

@sidebar-border-color: #2F3139;



