/**
  vue-v-bar 的样式
  https://github.com/luiguild/v-bar
 */
html .body{
  .vueScrollInternalBar{

   width: 4px;
   border-radius: 0;
   -webkit-transition: .2s;
   -moz-transition: .2s;
   -o-transition: .2s;
   transition: .2s;
   opacity: 1;
 }
  .vueScrollBar{
    width: 4px;
    border-radius: 0;
  }


}
html.dark body{
    .vueScrollInternalBar {
      background-color: #0088CC;
    }
}

